.services-container {
  font-family: Roboto;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh;
}

.services-qoute {
  width: auto;
  margin: 15vh;
}

.services-book {
  margin-bottom: 10vh;
}

.services-list-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10vw;
  grid-row-gap: 5vw;
}

.services-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  color: white;
}

.services-name {
  position: relative;
  top: -50%;
  cursor: pointer;
  text-shadow: 1px 1px 10px black;
}

.services-img {
  width: 30vw;
  height: auto;
  filter: brightness(80%);
  transition: transform 0.2s ease-out;
  cursor: pointer;
  border-radius: 20px;
}

.services-img:hover {
  transform: scale(1.05);
  filter: blur(2px) brightness(80%);
  /* border: 5px solid rgb(40, 93, 240); */
}

.services-selected {
  border: 5px solid rgb(40, 93, 240);
}

.services-date {
  min-width: 30vw;
  height: 50px;
  box-shadow: none;
  border: solid 2px #838383;
  border-radius: 30px;
  text-align: center;
  font-size: 1.5vw;
  font-family: Roboto;
  color: #535353;
}
#services-date-label {
  display: none;
  color: red;
  font-size: 1vw;
}

@media screen and (max-width: 500px) {
  .services-container {
    margin: 3vh;
  }
  .services-book {
    font-size: 6vw;
    text-align: center;
    margin: 8vw;
  }
  .services-list-container {
    grid-template-columns: auto;
    grid-column-gap: 0vw;
    grid-row-gap: 2vw;
  }
  .services-img-container {
    font-size: 6vw;
  }
  .services-img {
    min-width: 80vw;
  }
  .services-date {
    min-width: 70vw;
    height: 30px;
    font-size: 3vw;
  }
  #services-date-label {
    font-size: 3vw;
  }
  .services-appoint-button {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 1000px) {
  .services-container {
    margin: 3vh;
  }
  .services-book {
    font-size: 6vw;
    text-align: center;
    margin: 8vw;
  }

  .services-img-container {
    font-size: 4vw;
  }
  .services-img {
    width: 40vw;
  }
  .services-date {
    min-width: 70vw;
    height: 40px;
    font-size: 3vw;
  }
  #services-date-label {
    font-size: 3vw;
  }
  .services-appoint-button {
    margin-top: 4vh;
  }
}
