@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext");

.contact-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(0, 0, 0, 0.89);
  width: 50vw;
  height: 650px;
  margin: auto;
  margin-top: 8vh;
  margin-bottom: 8vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* padding: 70px 100px; */
  padding: 70px 0px;
  color: white;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-img {
  width: 100%;
  height: 130vh;
  background: url("../Media/pexels-alexandre-saraiva-carniato-5853395(1).jpg");
  background-size: cover;
  z-index: -1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-label {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
.contact-name {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s linear;
}

textarea {
  font-family: "Noto Sans", sans-serif;
}

.contact-name:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.contact-btn:hover {
  border-color: #e74c3c;
  background-color: #e74c3c;
  color: white;
}

@media screen and (max-width: 1000px) {
  .contact-form-container {
    transform: translate(-50%, -55%);
    width: 90vw;
    height: 500px;
    padding: 30px 0px;
  }
  .contact-img {
    height: 70vh;
    background-position-x: 20%;
  }
  .contact-label {
    width: 60vw;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .contact-form-container {
    transform: translate(-50%, -40%);
    width: 90vw;
    height: 500px;
    padding: 30px 0px;
  }
  .contact-img {
    height: 90vh;
    background-position-x: 20%;
  }
  .contact-label {
    width: 60vw;
    margin-bottom: 10px;
  }
}
